{% extends './base.jinja' %}

{% block title %}
Contact
{% endblock %}

{% block headline %}
Contact information
{% endblock headline %}

{% block content %}
<p>
    Discussion of YAMZ development and deployment issues takes place at
    <a href="http://groups.google.com/group/yamz-forum">yamz-forum</a>.
</p>
{% endblock%}