{% extends './base.jinja' %}

{% block title %}
Contact
{% endblock %}


{% block links %}
<li class="nav-item">
    <a class="nav-link" href="/browse">Browse</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/contribute">Add</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for('main.contact') }}">Contact</a>
</li>
{% endblock%}

{% block headline %}
Contact information
{% endblock headline %}

{% block content %}
<p>
    Discussion of YAMZ development and deployment issues takes place at
    <a href="http://groups.google.com/group/yamz-forum">yamz-forum</a>.
</p>
{% endblock%}