{% extends './base.jinja' %}

{% block title %}
YAMZ Metadata Dictionary
{% endblock %}

{% block links %}
<li class="nav-item">
    <a class="nav-link" href="/browse">Browse</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/contribute">Add</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.contact') }}">Contact</a>
</li>
{% endblock%}

{% block headline %}
{% endblock headline %}


{% block content %}
Metadictionary
{% endblock%}