{% extends './base.jinja' %}

{% block title %}YAMZ Metadata Dictionary{% endblock %}

{% block headline %}

{% endblock %}

{% block content %}
<div class="jumbotron" style="background-color: transparent; line-height: 1.8">
    <br />
    <h1 class="text-center display-1" style="font-weight: 500">Metadictionary</h1>
    <br />
    <h4 class='text-center'>A crowdsourced cross-domain vocabulary builder</h4>
    <p class="lead text-center">
        <br />
        Add terms and get permalinks (<a style="text-decoration: none" href="/ark:/99152/h8072">PID</a>s)<br />
        Use and link controlled terms<br />
        Share and refine project terms<br />
        Cherry-pick terms for ontologies<br />
        Dialog, test, and vote to quickly achieve consensus<br />
</div>
{% endblock %}
