*.pyc
*.swp
*~
*.toc
*.log
*.aux
*.out
*.ini
_build
env
venv
settings.json
migrations/
.vscode/
.vscode/launch.json
localhost-key.pem
mkcert-v1.4.3-linux-amd64
localhost.pem
localhost.crt
localhost.key
config.py
__pycache__/
.vscode/
logs/
migrations/
yamz.sql
git-sim_media
plans
.gitignore
CLAUDE.md