*.pyc
*.swp
*~
*.toc
*.log
*.aux
*.out
*.ini
_build
env
venv
settings.json
.vscode/
.vscode/launch.json
localhost-key.pem
mkcert-v1.4.3-linux-amd64
localhost.pem
localhost.crt
localhost.key
config.py
__pycache__/
migrations/
.vscode/