alembic==1.7.6
astroid==2.9.3
beautifulsoup4==4.10.0
black==22.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
dnspython==2.2.0
email-validator==1.1.3
Flask==2.0.3
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
html5lib==1.1
idna==3.3
importlib-metadata==4.11.2
importlib-resources==5.4.0
isort==5.10.1
itsdangerous==2.1.0
Jinja2==3.0.3
lazy-object-proxy==1.7.1
lxml==4.8.0
Mako==1.1.6
MarkupSafe==2.1.0
mccabe==0.6.1
mypy-extensions==0.4.3
orcid==1.0.3
pathspec==0.9.0
platformdirs==2.5.1
pylint==2.12.2
rauth==0.7.3
requests==2.27.1
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.31
toml==0.10.2
tomli==2.0.1
typing-extensions==4.1.1
urllib3==1.26.8
webencodings==0.5.1
Werkzeug==2.0.3
wrapt==1.13.3
WTForms==3.0.1
zipp==3.7.0
psycopg2-binary==2.8.5