Flask==0.12.2
Flask-Login==0.4.0
Flask-OAuth==0.12
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.2
argparse==1.2.1
configparser==3.3.0.post2
gunicorn==0.17.4
httplib2==0.10.3
itsdangerous==0.24
oauth2==1.9.0.post1
psycopg2==2.7.3.1
wsgiref==0.1.2
python-dateutil==2.6.1
python-postmark>=0.4.3
requests>=0.7.5
