{% if pager %}
<div class="row mt-4">
    <div class="col">

        {% for pager_page in pager %}
        {% if pager_page %}
        <a href="{{ url_for('getList', type=type, page=page, order=sort_order) }}">{{ pager_page }}</a>
        {% else %}
        ...
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col">
        {% if pager.has_prev %}
        <a href="{{ url_for('getList', type=type, page=pager.page-1, order=sort_order) }}">previous</a>
        {% else %}
        <span class="text-muted">previous</span>
        {% endif %}
        &nbsp;|&nbsp;
        {% if pager.has_next %}
        <a href="{{ url_for('getList', type=type, page=pager.page+1, order=sort_order) }}">next</a>
        {% else %}
        <span class="text-muted">next</span>
        {% endif %}
    </div>
</div>
{% endif %}