           {% if order == 'ascending' %}
           {% set sort_order = 'descending'  %}
           {%elif order== 'descending'%}
           {% set sort_order = 'ascending'  %}
           {% endif %}

           <table class="table table-borderless table-sm">
             <tr>
               <th>
                 <a href="{{ url_for('paged_terms_alphabetical', page=pager.page, order=sort_order)}}">Term</a>
               </th>
               <th>
                 <a href="{{ url_for('paged_terms_score', page=pager.page, order=sort_order)}}">Score</a>
               </th>
               <th>
                 <a href="{{ url_for('paged_terms_consensus', page=pager.page, order=sort_order)}}">Consensus</a>
               </th>
               <th>
                 <a href="{{ url_for('paged_terms_class', page=pager.page, order=sort_order)}}">Class</a>
               </th>
               <th>
                 <a href="{{ url_for('paged_terms_modified', page=pager.page, order=sort_order)}}">Modified</a>
               </th>
               <th>
                 <a href="{{ url_for('paged_terms_contributor', page=pager.page, order=sort_order)}}">Contributor</a>
               </th>
             </tr>
             {% for term in terms %}
             <tr>
               <td><a
                   href="{{ url_for('getTerm', term_concept_id=term.concept_id) }}">{{ term.term_string|tag_to_term }}</a>
               </td>
               <td>{{ term.up - term.down }}</td>
               <td>{{ term.consensus|summarize_consensus }}</td>
               <td>{{ term.class }}</td>
               <td>{{ term.modified|format_date }}</td>
               <td>{{ term.last_name }}, {{term.first_name}}</td>
             </tr>
             {% endfor %}
           </table>