{% extends 'layout.html' %}

{% block title %}
YAMZ Contact
{% endblock %}

{% block links %}
              <li class="nav-item">
                <a class="nav-link" href="/browse">Browse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contribute">Add</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/contact">Contact</a>
              </li>
{% endblock %}


{% block body %}

      <table width=100%>
       <tr>
        <td>
          <h3>Contact information</h3>
        Discussion of YAMZ development and deployment issues takes place at
	<a href="http://groups.google.com/group/yamzdev">yamzdev</a>.
          </p>
        </td>
        <td valign=top align=right width=30%>
          <form action="/search" method="post">
            <div class="control-group"><label class="control-label"></label>
            <div class="controls"><input name="term_string" type="text"
            class="input-lg search-query form-control" placeholder="Search for a term"></div></div>
          </form>
        </td>
       </tr>
      </table>

      <hr>

{% endblock %}
