<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}{% endblock %}
  </title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="author" content="{% block author %}{% endblock %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand h1" href="/">YAMZ</a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% block links %} {% endblock %}
          <li class="nav-item">
            {% if user_name %}
            <a class="nav-link" href="/logout">Log out of {{ user_name }}</a>
            {% else %}
            <a class="nav-link" href="/login">Login</a>
            {% endif %}
          </li>
        </ul>
      </div>

    </nav>
    <div class="container">
      {% block body %}{% endblock %}
      <div class="footer" align=right>
        <font size="2" color="#8B8B8B">
          Contributions to the <i>YAMZ</i> metadictionary are dedicated to the public
          domain under the terms of CC0. By <br> using this site, you agree to Terms
          of Use and Privacy Policy statements similar to
          <a href="http://wikimediafoundation.org">wikimediafoundation.org</a>.
        </font>
      </div><br>
    </div>
  </div>
  <script src="/static/js/application.js">
  </script>
</body>

</html>