{% extends './base.jinja' %}

{% block title %}
Yamz Output
{% endblock %}

{% block headline %}
Export Yamz Lists and Terms
{% endblock headline %}

{% block content %}

<a href="{{ url_for('io.export_term_results')}}">Export All Terms</a>



{% endblock content%}
