{% extends './base.jinja' %}

{% block title %}
YAMZ Import Terms
{% endblock %}

{% block headline %}
Import dictionary terms
{% endblock headline %}

{% block content %}

Here you can import new terms from a CSV file containing a 3-column table.
The columns, which may be separated by commas or tabs, should be ordered
as follows: Term string, Definition, and Examples. You can help us maintain
a high-quality metadictionary and minimize redundancies by searching for your
term. Take a look at our <a href="/guidelines" target="_blank" rel="noopener noreferrer">community guidelines</a> for best practice tips.

{% include 'io/_file_upload_form.jinja' %}

{% endblock content%}
