{% extends './base.jinja' %}

{% block title %}
Contribute to YAMZ
{% endblock %}

{% block headline %}
Import dictionary terms
{% endblock headline %}

{% block content %}

This is a temporary page to develop json import for helio glossaries
<hr>

{% include 'io/_helio_file_upload_form.jinja' %}

{% endblock content%}