    <div class="container px-4">
        <div class="row">
            <div class="col">
                {% for tag in selected_term.tags %}
                {{ tag.value }}<br>
                {% endfor %}
            </div>
        </div>
    </div>