{% extends './base.jinja' %}


{% block content %}
<div class="card col-7">
    <h5 class="card-header">Add Tag</h5>
    <div class="card-body">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group row py-2">
                {{ form.tag_name.label(class="col-2 col-form-label", for="tag_name") }}
                <div class="col">
                    {{ form.tag_name(class="form-control", id="tag_name") }}
                </div>
            </div>
            <div class="form-group row py-2">
                {{ form.tag_value.label(class="col-2 col-form-label", for="tag_value") }}
                <div class="col">
                    {{ form.tag_value(class="form-control", id="tag_value") }}
                </div>
            </div>
            <div class="form-group row py-2">
                <div class="col">
                    {{ form.submit(class="btn btn-dark") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}