{% extends './base.jinja' %}

{% block content %}


<div class="card">
    <div class="card-body" style="width: 40rem;">
        <ul class="list-group">
            <h5 class="card-title">Tag list</h5>
            {% for tag in  tags%}
            <li class="list-group-item">
                <p>
                    <a href="{{ url_for('term.terms_by_tag_value', tag_value=tag.value) }}">{{ tag.value }}</a>
                    ({{ tag.category }})
                </p>
                <p>
                    {{ tag.description }}

                    {% if current_user.is_administrator %}
                    <br>
                    <small>[<a href="{{ url_for('term.edit_tag', tag_id=tag.id) }}">edit</a>]
                        [<a href="{{ url_for('term.edit_tag', tag_id=tag.id) }}"
                            onclick="return confirm('Are you sure?')">delete</a>]</small>

                    {% endif %}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}