{% extends "base.jinja" %}

{% block content %}
<h1>An unexpected error has occured.</h1>
<p>The administrator has been notified. Sorry for the inconvenience.</p>
<p>{{ error }}</p>
{% endblock %}
<p><a href="{{ url_for('main.index') }}">Back</a></p>
{% endblock content%}