{% extends './base.jinja' %}

{% block title %}
Log in to YAMZ
{% endblock %}

{% block headline %}
Login
{% endblock headline %}

{% block content %}
<p>
    In order to propose new terms or comment on others, you must first
    sign in.
    <li>
        {% if portal_tag %}
        Sign in with <a href="{{ url_for('auth.oauth_authorize', provider='google', portal_tag=portal_tag) }}">Google</a>
        {% else %}
        Sign in with <a href="{{ url_for('auth.oauth_authorize', provider='google') }}">Google</a>
        {% endif %}
    </li>
    <!--
    <li>
        Sign in with
        <i class="fab fa-orcid"></i>
        <span class="pl-1"><a href="{{ url_for('auth.oauth_authorize', provider='orcid') }}">ORCiD</a></span>
    </li>
    -->
</p>
{% endblock content%}