<div class="container mt-2">
    {% for comment in comments %}
    <div class="row px-5 mx-4 ">
        <div class="col-md-12">
            <hr>
            {{ comment.comment_string }} - {{ comment.author.full_name }} {{ comment.modified | format_date}}
        </div>
    </div>

    {% endfor %}
</div>