<div class="container mt-2">
    {% for comment in comments %}
    <div class="row px-5 mx-4">
        <div class="col-md-12">
            <hr>
            {{ comment.comment_string }} - {{ comment.author | as_contributor_link }}
            <span class="text-muted fst-italic"> {{ comment.modified | format_date}}</span>
        </div>
    </div>
    {% endfor %}
</div>