{% if current_user.is_administrator or current_user == selected_term.contributor %}

<div class="row">
    <div class="col-auto p-1">
        <form method="post" action="{{ url_for('term.edit_term', concept_id=selected_term.concept_id) }}">
            {{ form.hidden_tag() }}
            <button type="submit" class="btn btn-dark btn-sm">Edit</button>
        </form>
    </div>
    <div class="col p-1">
        <form method="post" action="{{ url_for('term.delete_term', concept_id=selected_term.concept_id) }}">
            {{ form.hidden_tag() }}
            <button type="submit" class="btn btn-dark btn-sm text-danger"
                onclick="confirm('Are you sure?')">Delete</button>
        </form>
    </div>
</div>
{% endif %}