<div class="row p-2">
    <div class="col bg-light mb-2">
        <a href=" {{ url_for('term.list_top_terms_alphabetical') }}">alphabetical</a>
        {% if 'alphabetical' in request.url_rule.endpoint  %}
        {% if 'list_top_terms' in request.url_rule.endpoint %}
        <a href=" {{ url_for('term.list_alphabetical') }}"><i class="bi bi-arrows-expand"></i></a>
        {% else%}
        <a href=" {{ url_for('term.list_top_terms_alphabetical') }}"><i class="bi bi-arrows-collapse"></i></a>
        {% endif %}
        {% endif %}
        |
        <a href=" {{ url_for('term.list_score') }}">high score</a> |
        <a href=" {{ url_for('term.list_recent') }}">recent</a> | volatile | stable | filter: 
        <select style="width:auto;" name="tags" id="tags">
        {% for tag in tag_list  %}    
            <option value="{{ tag.value }}">{{ tag.value }}</option>
        {% endfor %}
        </select>
        <button type="button" class="btn btn-dark btn-sm" onclick="filter_by_tag()">go</button>
    </div>
</div>
<script>
function filter_by_tag() {
    //var selected_tag = document.getElementById("tags").value;
    var selected_tag = $('#tags').val();
    var url = '/term/list/tag/value/' + selected_tag;
    document.location.href=url;
}
</script>