<div class="row p-2">
    <div class="col bg-light mb-2">
        <a href=" {{ url_for('term.list_alphabetical') }}">alphabetical</a> |
        <a href=" {{ url_for('term.list_score') }}">high score</a> |
        <a href=" {{ url_for('term.list_recent') }}">recent</a> | volatile | stable |
    </div>
</div>