{% extends './base.jinja' %}

{% block title %}
Contribute to YAMZ
{% endblock %}

{% block headline %}
Add a dictionary term
{% endblock headline %}

{% block content %}

Here you can import new terms from a csv . You can help us maintain a high-quality metadictionary
and minimize redundancies by <a href="/search">searching</a> for your term. Take a look
at our community <a href="/guidelines">community guidelines</a> for best practice tips.
<hr>

{% include 'term/_term_form.jinja' %}

{% endblock content%}