{% extends './base.jinja' %}

{% block title %}
YAMZ Term- {{ selected_term.term_string}}
{% endblock %}

{% block headline %}
{{ selected_term.term_string}}

{% endblock headline %}

{% block content %}
{% if current_user.is_administrator or current_user == selected_term.contributor %}
{% include 'term/_edit_subnav.jinja' %}
{% endif %}

{% include 'term/_term.jinja' %}
{% if current_user.is_administrator or current_user == selected_term.contributor %}
{% include 'tag/_add_tag_form.jinja' %}
{% endif %}

{% include 'term/_comments.jinja' %}

{% include 'term/_comment_form.jinja' %}

{% endblock content%}