{% extends './base.jinja' %}

{% block title %}
YAMZ Term- {{ selected_term.term_string}}
{% endblock %}

{% block headline %}
{{ selected_term.term_string}}

{% endblock headline %}

{% block content %}

{% include 'term/_term.jinja' %}

{% include 'term/_comments.jinja' %}

{% include 'term/_comment_form.jinja' %}

{% endblock content%}