{% extends './base.jinja' %}

{% block title %}
Term Set {{ term_set.name}}
{% endblock %}

{% block headline %}
Termset: {{ term_set.name}}
{% endblock headline %}

{% block content %}
<p>
    {{ term_set.description }}
    <br>
    created {{ term_set.created }}
</p>
<p>
{{ page }} of {{ pages }}
<br>
{% if prev_url %}
<a href="{{ prev_url }}">Prev</a>
{% endif %}

{% if next_url %}
<a href="{{ next_url }}">Next</a>
</p>

{% for selected_term in selected_terms  %}

{% include 'term/_term.jinja' %}

{% endfor %}


{% endif %}
{% endblock content%}