{% extends './base.jinja' %}

{% block title %}
Alternates for {{ alternatives_for_string }}
{% endblock %}

{% block headline %}
Term
{% endblock headline %}

{% block content %}

{% for selected_term in selected_terms  %}

{% include 'term/_term.jinja' %}

{% endfor %}

{% endblock content%}