{% extends './base.jinja' %}

{% block title %}
Term Set {{ term_set.name}}
{% endblock %}

{% block headline %}
Termset: {{ term_set.name}}
{% endblock headline %}

{% block content %}
<p>
    {{ term_set.description }}
    <br>
    created {{ term_set.created }}
</p>
<hr>

{% for term in term_set.terms  %}
<a href="{{ url_for('term.display_term', concept_id=term.concept_id) }}">{{ term.term_string }}</a><br>

{% endfor %}



{% endblock content%}