{% extends './base.jinja' %}

{% block title %}
YAMZ Edit Term
{% endblock %}

{% block headline %}
Edit term
{% endblock headline %}

{% block content %}

See our community <a href="/guidelines" target="_blank" rel="noopener noreferrer">community guidelines</a> for best practice tips.

{% include 'term/_term_form.jinja' %}

{% endblock content%}
