{% extends './base.jinja' %}
{% if sort_order == 'ascending' %}
{% set sort_order = 'descending'  %}
{% elif sort_order== 'descending'%}
{% set sort_order = 'ascending'  %}
{% endif %}


{% block title %}
YAMZ Browse Terms - alphabetical
{% endblock %}

{% block headline %}
Browse terms - alphabetical
{% endblock headline %}

{% block content %}
<!-- {% include 'term/_subnav.jinja' %} -->

{% for term in term_list  %}
<div class="row p-1">
    <div class="col">
        {% if portal_tag %}
            <a href="{{ url_for('term.show_alternate_terms', term_string= term[0], portal_tag=portal_tag) }}">{{ term[0] }}</a> ({{term[1]}})<br>
        {% else %}
            <a href="{{ url_for('term.show_alternate_terms', term_string= term[0]) }}">{{ term[0] }}</a> ({{term[1]}})<br>
        {% endif %}
    </div>
</div>
{% endfor %}
<div class="row py-2">
    <div class="col">
    {% if portal_tag %}
        {{ macros.render_pagination(pager, request.url_rule.endpoint, portal_tag=portal_tag) }}
    {% else %}
        {{ macros.render_pagination(pager, request.url_rule.endpoint) }}
    {% endif %}
    </div>
</div>
{% endblock content %}
