{% extends './base.jinja' %}

{% block title %}
YAMZ List Term Sets
{% endblock %}

{% block headline %}
List Term Sets
{% endblock headline %}

{% block content %}
<!--
<hr>
<div>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/AGU%20Index%20Terms">AGU Index Terms</a><br>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/ESA%20SpWx%20Glossary">ESA SpWx Glossary</a><br>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/HEK">HEK</a><br>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/HELIO%20Ontology">HELIO Ontology</a><br>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/NASA%20CCMC">NASA CCMC</a><br>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/NASA%20Heliophysics%20Vocabulary">NASA Heliophysics Vocabulary</a><br>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/NOAA%20SWPC%20SpWx%20Glossary">NOAA SWPC SpWx Glossary</a><br>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/SET%20SpWx%20Glossary">SET SpWx Glossary</a><br>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/SPASE">SPASE</a><br>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/SWEET">SWEET</a><br>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/UAT">UAT</a><br>
</div>
<hr>
-->

<div>
<hr>
{% for term_set in term_sets %}

<a href="{{ url_for('term.display_term_set', term_set_id=term_set.id) }}">{{term_set.name}}</a>

 <br>
{% endfor %}    
{% endblock content %}
