{% extends './base.jinja' %}

{% block title %}
Browse Terms
{% endblock %}

{% block headline %}
Browse terms - {{ sort_type }}
{% endblock headline %}

{% block content %}
<table class="table table-borderless table-sm">
    <thead>
        <tr>
            <th>Term</th>
            <th>Score</th>
            <th>Consensus</th>
            <th>Class</th>
            <th>Modified</th>
            <th>Contributor</th>
        <tr>
    </thead>
    {% for term in term_list %}
    <tbody>
        <tr>
            <td>
                <a href="{{ url_for('term.display_term', concept_id=term.concept_id) }}">{{ term.term_string }}</a>
            </td>
            <td>
                Score
            </td>
            <td>
                Consensus
            </td>
            <td>
                {{ term.term_class.value[1]}}
            </td>
            <td>
                {{ term.modified | format_date}}
            </td>
            <td>
                {{ term.contributor.first_name }} {{ term.contributor.last_name }}
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>

<div class="row">
    <div class="col">
        {% if pager.prev_url %}
        <a href="{{pager.prev_url}}">Previous</a>
        {% endif %}
        {% if pager.next_url %}
        <a href="{{ pager.next_url}}">Next</a>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col fw-bold">
        {% for page in pager  %}
        {% if page %}
        {% if pager.page == page %}
        {{page}}
        {% else %}
        <a href="{{ url_for('term.list_' + sort_type, page=page) }}">{{ page }}</a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content%}