{% extends './base.jinja' %}

{% if sort_order == 'ascending' %}
{% set sort_order = 'descending'  %}
{% elif sort_order== 'descending'%}
{% set sort_order = 'ascending'  %}
{% endif %}


{% block title %}
YAMZ Browse Terms
{% endblock %}

{% block headline %}
Browse terms - {{ sort_type }}
{% endblock headline %}

{% block content %}
{% include 'term/_subnav.jinja' %}
<table class="table table-borderless table-sm">
    <thead>
        <tr>
            <th><a href="{{ url_for('term.list_alphabetical', page=pager.page, order=sort_order)}}">Term</a></th>
            <th>Definition</th>
            <th>Contributor</th>
            <th>Modified</th>
        <tr>
    </thead>

    <tbody>
    {% set count = namespace(value=0) %}
    {% for term in term_list %}
            {% set count.value = count.value + 1 %}
        <tr>
            <td>
                <a href="{{ url_for('term.display_term', concept_id=term.concept_id) }}">{{ term.term_string }}</a>
            </td>
            <td width="70%">
                {% if term.definition %}
                    {{ term.definition[0:200] }}
                    {% if term.definition|length > 200 %}
                        <span class="collapse" id="collapseDiv{{count.value}}">{{term.definition[200:]}}</span>
                        <button class="btn btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDiv{{count.value}}">
                        ...
                        </button>
                    {% endif %}
                {% else %}
                    <em>No definition provided</em>
                {% endif %}
            </td>
            <td>
                {{ term.contributor.full_name }}
            <td>
                {{ term.modified|format_date }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if pager %}

{% include 'term/_pager.jinja' %}
{% endif %}
{% endblock content%}
