{% extends './base.jinja' %}

{% block title %}
YAMZ List Term Sets
{% endblock %}

{% block headline %}
List Term Sets
{% endblock headline %}

{% block content %}
<hr>
<div>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/AGU%20Index%20Terms">AGU Index Terms</a>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/ESA%20SpWx%20Glossary">ESA SpWx Glossary</a>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/HEK">HEK</a>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/HELIO%20Ontology">HELIO Ontology</a>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/NASA%20CCMC">NASA CCMC</a>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/NASA%20Heliophysics%20Vocabulary">NASA Heliophysics Vocabulary</a>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/NOAA%20SWPC%20SpWx%20Glossary">NOAA SWPC SpWx Glossary</a>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/SET%20SpWx%20Glossary">SET SpWx Glossary</a>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/SPASE">SPASE</a>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/SWEET">SWEET</a>
<a href="https://yamz-dev.yamz.net/term/list/tag/value/UAT">UAT</a>
</div>
<hr>

{% endblock content %}
