{% extends './base.jinja' %}

{% import "_macros.jinja" as macros %}

{% block headline%}
Tag: {{ tag }}
{% endblock headline%}

{% block content %}
{% include 'term/_subnav.jinja' %}


{% for term in term_list  %}
<div class="row p-1">
    <div class="col">
        <a href="{{ url_for('term.display_term', concept_id=term.concept_id) }}">{{ term.term_string }}</a>
    </div>
</div>
{% endfor %}
<div class="row py-2">
    <div class="col">
      <!-- pagination.links -->
    </div>
</div>
{% endblock content %}