{% extends './base.jinja' %}

{% import "_macros.jinja" as macros %}

{% block headline%}
YAMZ Tag: {{ tag.value }}
{% endblock headline%}

{% block content %}
Tag Description: {{ tag.description }}



{% for selected_term in selected_terms  %}
{% include 'term/_term.jinja' %}

{% endfor %}

{% endblock content %}
