{% extends './base.jinja' %}

{% import "_macros.jinja" as macros %}

{% block headline %}
    {# Only show headline if not Draft OR if user is logged in #}
    {% if not (tag.value == "Draft" and not current_user.is_authenticated) %}
        YAMZ Tag: {{ tag.value }}
    {% endif %}
{% endblock headline %}

{% block content %}
    Tag Description: {{ tag.description }}

    {% for selected_term in selected_terms %}
        {% include 'term/_term_detail.jinja' %}
    {% endfor %}
{% endblock content %}
