{% extends './base.jinja' %}




{% block headline%}

{% endblock headline%}

{% block content %}
{{ pagedown.include_pagedown() }}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.pagedown(rows=10) }}
        {{ form.submit }}
    </form>
{% endblock content %}