{% extends './base.jinja' %}

{% block title %}
Archival Resource Keys
{% endblock %}

{% block headline %}
ARKs
{% endblock headline %}

{% block content %}

For more information on arks, visit <a href="https://arks.org/" target="_top">https://arks.org/</a>

{% endblock content%}