{% extends 'layout.html' %}

{% if order == 'ascending' %}
{% set sort_order = 'descending'  %}
{% elif order== 'descending'%}
{% set sort_order = 'ascending'  %}
{% endif %}


{% block title %}
{% if title %}
YAMZ {{ title }}
{% else %}
Yamz Browse
{% endif %}
{% endblock %}

{% block links %}
<li class="nav-item">
  <a class="nav-link active" href="/browse">Browse</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/contribute">Add</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/contact">Contact</a>
</li>
{% endblock %}

{% block body %}

<table width=100%>
  <tr>
    <td>
      {% if headline %}
      <h3>{{ headline }}</h3>
      {% endif %}
    </td>
    <td valign=top align=right width=30%>
      <form action="/search" method="post">
        <div class="control-group"><label class="control-label"></label>
          <div class="controls"><input name="term_string" type="text" class="input-lg search-query form-control"
              placeholder="Search for a term"></div>
        </div>
      </form>
    </td>
  </tr>
</table>

<hr>
{% include 'term/_terms.html' %}
{% include 'term/_pager.html' %}

<hr>
{% endblock %}